h1 {
  text-align: center;
}

.container{
  justify-items: center;
  padding: 4rem;
  background: #fff;
}

  .container_wrapper {
    position: relative;
  }

  .container_items {
    margin-bottom: 24px;
    padding: 5px;
    border-radius: 10px;
  }



  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
